<div class="wip-container">
  <div class="wip-content">
    <div class="wip-icon-wrapper">
      <i class="fas fa-hard-hat wip-icon"></i>
    </div>
    <h2 class="wip-title">Work in Progress</h2>
    <p class="wip-message">
      This feature is currently under development. We're working hard to bring you something amazing!
    </p>
    <div class="wip-animation">
      <div class="dot dot-1"></div>
      <div class="dot dot-2"></div>
      <div class="dot dot-3"></div>
    </div>
  </div>
</div>
